<h1 class="page-title">contact</h1>
<ul class="contact-methods">
  <li class="twitter">
    <a href="https://twitter.com/davidlormor" target="_blank">
      <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
      davidlormor
    </a>
  </li>
  <li class="github">
    <a href="https://github.com/davidlormor" target="_blank">
      <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
      davidlormor
    </a>
  </li>
  <li class="linkedin">
    <a href="https://linkedin.com/in/davidlormor" target="_blank">
      <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
      davidlormor
    </a>
  </li>
</ul>
{{outlet}}
