<div class="page index">
  <h1 class="page-title">welcome</h1>
  <p>
    I'm David.
  </p>
  <p>
    I write code.
  </p>
  <p>
    I play guitar.
  </p>
  <p>
    I cook.
  </p>
  <p>
    I build stuff.
  </p>
  <p>
    I have a wife and three kids.
  </p>
  <p>
    I'm a Christ-follower.
  </p>
  {{outlet}}
</div>