<h1 class="page-title">projects</h1>
<ul class="projects-list">
  <li class="golden-flake-snackfinder">
    <h1 class="project-title">
      <a href="https://goldenflake.com/snack-finder" class="project-link">
        Golden Flake Snackfinder
        <svg class="icon icon-link"><use xlink:href="#icon-link"></use></svg>
      </a>
    </h1>
    <div class="project-date">
      <label>date</label>
      <span>nov 2015</span>
    </div>
    <div class="project-description">
      <label>description</label>
      <p>
        An app to find Golden Flake snacks nearby.
      </p>
    </div>
  </li>
  <li class="atherotech">
    <h1 class="project-title">
      <a href="https://atherotech.com" class="project-link">
        Atherotech Website
        <svg class="icon icon-link"><use xlink:href="#icon-link"></use></svg>
      </a>
    </h1>
    <div class="project-date">
      <label>date</label>
      <span>jun 2015</span>
    </div>
    <div class="project-description">
      <label for="project-description">description</label>
      <p class="project-description">
        A new Atherotech website.
      </p>
    </div>
  </li>
  <li class="jobs-app">
    <h1 class="project-title">
      Cayenne Creative Jobs App
    </h1>
    <div class="project-description">
      <p>
        A recruiting application developed by the team at Cayenne Creative.
      </p>
    </div>
    <ul>
      <li class="restore-jobs">
        <h1 class="project-title">
          <a href="https://restore.jobs" class="project-link">
            Restore Therapy Jobs
            <svg class="icon icon-link"><use xlink:href="#icon-link"></use></svg>
          </a>
        </h1>
        <div class="project-date">
          <label>date</label>
          <span>jan 2015</span>
        </div>
        <div class="project-description">
          <label>description</label>
          <p>
            Recruiting application for Restore Therapy Services.
          </p>
        </div>
      </li>
      <li class="golden-flake-jobs">
        <h1 class="project-title">
          <a href="https://goldenflake.jobs" class="project-link">
            Golden Flake Jobs
            <svg class="icon icon-link"><use xlink:href="#icon-link"></use></svg>
          </a>
        </h1>
        <div class="project-date">
          <label>date</label>
          <span>aug 2015</span>
        </div>
        <div class="project-description">
          <label>description</label>
          <p>
            Recruiting application for Golden Flake Snack Foods.
          </p>
        </div>
      </li>
      <li class="comfort-care-hospice-jobs">
        <h1 class="project-title">
          <a href="https://comfortcarehospice.jobs" class="project-link">
            Comfort Care Hospice Jobs
            <svg class="icon icon-link"><use xlink:href="#icon-link"></use></svg>
          </a>
        </h1>
        <div class="project-date">
          <label>date</label>
          <span>jan 2016</span>
        </div>
        <div class="project-description">
          <label>description</label>
          <p>
            Recruiting application for Comfort Care Hospice.
          </p>
        </div>
      </li>
    </ul>
  </li>
</ul>
{{outlet}}
