<h1 class="page-title">projects</h1>
<ul class="projects-list">
  <li class="golden-flake-snackfinder">
    <h1 class="project-title">
      <a href="https://goldenflake.com/snack-finder" class="project-link">Golden Flake Snackfinder</a>
    </h1>
    <label for="project-date">date</label>
    <span class="project-date">nov 2015</span>
    <br>
    <label for="project-description">description</label>
    <p class="project-description">
      An app to find Golden Flake snacks nearby.
    </p>
  </li>
  <li class="atherotech">
    <h1 class="project-title">
      <a href="https://atherotech.com" class="project-link">Atherotech Website</a>
    </h1>
    <label for="project-date">date</label>
    <span class="project-date">jun 2015</span>
    <br>
    <label for="project-description">description</label>
    <p class="project-description">
      A new Atherotech website.
    </p>
  </li>
  <li class="jobs-app">
    <h1 class="project-title">
      Cayenne Creative Jobs App
    </h1>
    <label for="project-description">description</label>
    <p class="project-description">
      A recruiting application developed by the team at Cayenne Creative.
    </p>
    <ul>
      <li class="restore-jobs">
        <h1 class="project-title">
          <a href="https://restore.jobs" class="project-link">Restore Therapy Jobs</a>
        </h1>
        <label for="project-date">date</label>
        <span class="project-date">jan 2015</span>
        <br>
        <label for="project-description">description</label>
        <p class="project-description">
          Recruiting application for Restore Therapy Services.
        </p>
      </li>
      <li class="golden-flake-jobs">
        <h1 class="project-title">
          <a href="https://goldenflake.jobs" class="project-link">Golden Flake Jobs</a>
        </h1>
        <label for="project-date">date</label>
        <span class="project-date">aug 2015</span>
        <br>
        <label for="project-description">description</label>
        <p class="project-description">
          Recruiting application for Golden Flake Snack Foods.
        </p>
      </li>
      <li class="comfort-care-hospice-jobs">
        <h1 class="project-title">
          <a href="https://comfortcarehospice.jobs" class="project-link">Comfort Care Hospice Jobs</a>
        </h1>
        <label for="project-date">date</label>
        <span class="project-date">jan 2016</span>
        <br>
        <label for="project-description">description</label>
        <p class="project-description">
          Recruiting application for Comfort Care Hospice.
        </p>
      </li>
    </ul>
  </li>
</ul>
{{outlet}}
