.ui.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
  
  ul {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    @include transition(all 500ms ease-in-out);
    
    opacity: 0.25;
    
    li {
      margin: 3px;
    }
  }
  
  
  
  &.is-open {
    ul {
      opacity: 1;
    }
  }
}
