.ui.main-nav {
  @include display(flex);
  @include justify-content(space-between);
  
  h1 {
    @include display(flex);
    @include align-items(center);
    
    .icon {
      color: $green;
      margin: 0 5px;
    }
  }
  
  ul {
    @include flex(1);
    @include display(flex);
    @include justify-content(flex-end);
    @include align-items(center);
    
    li {
      @include transition(border-color 100ms ease-in-out);
      @include border-top-radius(3px);
      margin: 0 5px;
      padding: 5px;
      border-bottom: 1px solid transparent;
      
      &:hover {
        border-color: $green;
      }
      
      &.active {
        background: $silver;
      }
    }
  }
}
