<h1>skills</h1>
<ul>
  <li class="skill-group">
    <h1 class="skill-title">ruby</h1>
    <ul>
      <li>Standard Library</li>
      <li>Ruby on Rails</li>
      <li>Sinatra</li>
    </ul>
  </li>
  <li class="skill-group">
    <h1 class="skill-title">javascript</h1>
    <ul>
      <li>Ember</li>
      <li>Angular</li>
      <li>Ionic</li>
      <li>React</li>
    </ul>
  </li>
  <li class="skill-group">
    <h1 class="skill-title">datastores</h1>
    <ul>
      <li>PostgreSQL</li>
      <li>Firebase</li>
      <li>MongoDB</li>
    </ul>
  </li>
  <li class="skill-group">
    <h1 class="skill-title">web</h1>
    <ul>
      <li>HTML5</li>
      <li>Sass/SCSS/CSS3</li>
      <li>HTTP</li>
      <li>REST APIs</li>
      <li>Schema.org</li>
    </ul>
  </li>
  <li class="skill-group">
    <h1 class="skill-title">tools</h1>
    <ul>
      <li>Git</li>
      <li>Atom</li>
      <li>VIM</li>
      <li>Dash</li>
    </ul>
  </li>
</ul>